{% extends 'home/index_home.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}


    <div class="container">

        <aside>
            <div class="top">
                <div class="logo">
                    <img src="../images/logo.png" alt="logo">
                    <h2>PO<span class="danger">VÃO</span></h2>
                </div>
                <div class="close" id="close-btn"><span class="material-icons-sharp">close</span></div>
            </div>

            <div class="sidebar">
                <a href="#" class="active">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Dashboard</h3>
                </a>
                <a href="../../clientes/codes/index.html">
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Clientes</h3>
                </a>
                <a href="../../cadastrarCliente/codes/index.html">
                    <span class="material-icons-sharp">person</span>
                    <h3>Cadastrar Cliente</h3>
                </a>
                <a href="../../vendas/codes/index.html">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Vendas</h3>
                </a>
                <a href="../../produtos/codes/index.html">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Produtos</h3>
                </a>
                <a href="../../cadastrarProduto/codes/index.html">
                    <span class="material-icons-sharp">inventory</span>
                    <h3>Cadastrar Produtos</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">insights</span>
                    <h3>Analítico</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">report</span>
                    <h3>Reports</h3>
                </a>
                <a href="#">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Configurações</h3>
                </a>
                <a href="../../login/codes/index.html">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Sair</h3>
                </a>
            </div>
        </aside>

        <!---------------- FIM DA NAVEGACAO ---------------->

        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total de Vendas</h3>
                            <h1>R$ 25.256,37</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim das Vendas -------------------->
                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total de Gastos</h3>
                            <h1>R$ 12.769,89</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>62%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim dos Gastos -------------------->
                <div class="income">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Renda Total</h3>
                            <h1>R$ 445.348,13</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>51%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim da Renda -------------------->
            </div>
            <!-- ---------------- Fim dos Insights -------------------->

            <div class="recent-orders">
                <h2>Vendas Recentes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nome do Produto</th>
                            <th>Número do Produto</th>
                            <th>Pagamento</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>
                        
                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Ver Tudo</a>
            </div>
        </main>
        <!-- ---------------- Fim da Main -------------------->

        <div class="right">
            <div class="top">
                <button = id="menu-btn">
                    <span class = " material-icons-sharp ">menu</span >
                </button>
                <div class="theme-toggler">
                    <span class= " material-icons-sharp active"> light_mode </span>
                    <span class= " material-icons-sharp "> dark_mode </span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Baiano</b></p>
                        <small class="text-muted">Admin</small>
                    </div>
                    <div class="profile-photo">
                        <img src="../images/profile-2.jpg" alt="Profile">
                    </div>
                </div>
            </div>
            
            <!------- Fim do User ------->

            <div class="recent-updates">
                <h2>Atualizações Recentes</h2>
                <div class="updates">
                    <div class="update">
                        <div class="profile-photo">
                            <img src="../images/profile-1.jpg" alt="Profile Update">
                        </div>
                        <div class="message">
                            <p> <b>Charle Chaplin</b> recebeu sua compra The Last of Us II </p>
                            <small class="text-muted">2 minutos atras</small>
                        </div>
                    </div>

                    <div class="update">
                        <div class="profile-photo">
                            <img src="../images/profile-3.jpg" alt="Profile Update">
                        </div>
                        <div class="message">
                            <p> <b>Ariana Grande</b> recebeu sua compra The Last of Us II </p>
                            <small class="text-muted">6 minutos atras</small>
                        </div>
                    </div>

                    <div class="update">
                        <div class="profile-photo">
                            <img src="../images/profile-4.jpg" alt="Profile Update">
                        </div>
                        <div class="message">
                            <p> <b>Camilla</b> recebeu sua compra The Last of Us II </p>
                            <small class="text-muted">8 minutos atras</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sales-analytics">
                <h2>Análise de Vendas</h2>
                <div class="item online">
                    <div class="icon">
                        <span class = "material-icons-sharp">shopping_cart</span >
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Pedidos Online</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="success">+39%</h5>
                        <h3>3976</h3>
                    </div>
                </div>

                <div class="item offline">
                    <div class="icon">
                        <span class = "material-icons-sharp">local_mall</span >
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Pedidos Offline</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="danger">-17%</h5>
                        <h3>1643</h3>
                    </div>
                </div>

                <div class="item customers">
                    <div class="icon">
                        <span class = "material-icons-sharp">person</span >
                    </div>
                    <div class="right">
                        <div class="info">
                            <h3>Novos Clientes</h3>
                            <small class="text-muted">Últimas 24 horas</small>
                        </div>
                        <h5 class="success">+25%</h5>
                        <h3>2583</h3>
                    </div>
                </div>
                <div class="item add-product">
                    <div>
                        <span class = "material-icons-sharp">add</span >
                        <h3>Adicionar Produto</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
