{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}

        <main>
            <h1>Dashboard</h1>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total de Vendas</h3>
                            <h1>R$ 25.256,37</h1>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim das Vendas -------------------->
                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total de Gastos</h3>
                            <h1>R$ 12.769,89</h1>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim dos Gastos -------------------->
                <div class="income">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Renda Total</h3>
                            <h1>R$ 445.348,13</h1>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim da Renda -------------------->
            </div>
            <!-- ---------------- Fim dos Insights -------------------->

            <div class="recent-orders">
                <h2>Vendas Recentes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th>Vendedor</th>
                            <th>Número da venda</th>
                            <th>Valor</th>
                        </tr>
                    </thead>
                    
                    <tbody>

                        {% if vendas %}

                            {% for venda in vendas %}

                                <tr>
                                    <td>{{ venda.cliente_nome }}</td>
                                    <td>{{ venda.vendedor_nome }}</td>
                                    <td>{{ venda.numero }}</td>
                                    <td>R$ {{ venda.valor }}</td>
                                </tr>

                            {% endfor %}

                        {% endif %}

                    </tbody>
                </table>
                <a href="{% url 'front:vendas' %}">Ver Tudo</a>
            </div>
        </main>
        <!-- ---------------- Fim da Main -------------------->

{% endblock %}
