{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}

        <main>
            <h1>Dashboard</h1>
            <div class="date">
                <input type="date">
            </div>

            <div class="insights">
                <div class="sales">
                    <span class="material-icons-sharp">analytics</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total de Vendas</h3>
                            <h1>R$ 25.256,37</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim das Vendas -------------------->
                <div class="expenses">
                    <span class="material-icons-sharp">bar_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Total de Gastos</h3>
                            <h1>R$ 12.769,89</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>62%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim dos Gastos -------------------->
                <div class="income">
                    <span class="material-icons-sharp">stacked_line_chart</span>
                    <div class="middle">
                        <div class="left">
                            <h3>Renda Total</h3>
                            <h1>R$ 445.348,13</h1>
                        </div>
                        <div class="progress">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number">
                                <p>51%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <!-- ---------------- Fim da Renda -------------------->
            </div>
            <!-- ---------------- Fim dos Insights -------------------->

            <div class="recent-orders">
                <h2>Vendas Recentes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Nome do Produto</th>
                            <th>Número do Produto</th>
                            <th>Pagamento</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>
                        
                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                        <tr>
                            <td>God of War Ragnarok</td>
                            <td>1987423</td>
                            <td>A vista</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#">Ver Tudo</a>
            </div>
        </main>
        <!-- ---------------- Fim da Main -------------------->

{% endblock %}
