{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-clientes.css' %}">

{% endblock %}

{% block content %}

<style>
    .recent-orders{
        display: flex;
        justify-self: center;
        align-items: center;
        flex-direction: column;
    }

    button{
        border-radius: 50px;
        width: 200px;
        margin: 25px;
        background-color: var(--color-primary);
    }

    main p{
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: medium;
        color: var( --color-dark);
    }

    .text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 90%;
        height: 50px;
        background-color: var( --color-white);
        border-radius: 50px;
    }
</style>

    

    <main>

        <h1 style="text-align: left;">Realizando venda</h1>   
        <div class="recent-orders" style="overflow-y: auto; height: 69vh;">

            {% if cliente %}

                <div class="text">
                    <p>Cliente: {{ cliente.nome }}</p>
                </div>

                <div>
                    <button><a href="{% url 'front:listar_clientes_venda' %}" style="color: #fff">Alterar cliente</a></button>
                </div>

            {% else %}

                <div>
                    <button><a href="{% url 'front:listar_clientes_venda' %}" style="color: #fff">Selecionar cliente</a></button>
                </div>

            {% endif %}
            
            {% if produtos %}

                <table> 
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Valor</th>
                            <th>Estoque</th>
                            <th>Quantidade</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                
                        {% for produto in produtos %}
                        
                            <tr>
                                <td>{{ produto.nome }}</td>
                                <td>{{ produto.preco }}</td>
                                <td>{{ produto.estoque }}</td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>

                <!-- <form action="{% url 'front:realizar_venda' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Realizar venda</button> 
                </form> -->

                <div>
                    <button><a href="{% url 'front:realizar_venda' %}" style="color: #fff">Realizar venda</a></button>
                </div>

            {% else %}

                <div class="text">
                    <p>Cadastre produtos na venda</p>
                </div>
                    
            {% endif %}

            <div>
                <button><a href="{% url 'front:adicionar_produto' %}" style="color: #fff">Adicionar produto</a></button>
            </div>

        </div>
    </main>

    {% block script %} <script src="{% static 'js/vendas/mascara-cadastro-clientes.js' %}"></script> {% endblock %}
    
{% endblock %}
