{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-clientes.css' %}">

{% endblock %}

{% block content %}

    <main>
            
        <h1 style="text-align: left;">Listagem de vendas</h1>
        <div class="recent-orders" style="overflow-y: auto; height: 69vh;">

            {% if messages %}

                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            
            {% endif %}

            <table> 
                <thead>
                    <tr>
                        <th>Número</th>
                        <th>Vendedor</th>
                        <th>Cliente</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>

                    {% if vendas %}

                        {% for venda in vendas %}
                            
                            <tr>
                                <td>{{ venda.numero }}</td>
                                <td>{{ venda.vendedor_nome }}</td>
                                <td>{{ venda.cliente_nome }}</td>
                                <td>{{ venda.dia }}</td>
                                <td>{{ venda.hora }}</td>
                                <td>{{ venda.valor }}</td>
                                <td class="primary"><a href="{% url 'front:deletar_venda' pk=venda.id %}">Excluir</a></td>
                            </tr>

                        {% endfor %}

                    {% else %}

                            <p>Nenhum cliente cadastrado</p>

                    {% endif %}

                </tbody>
            </table>
        </div>
    </main>
    
{% endblock %}