.circle-center{
    margin-top: 4vh;
    margin-bottom: 4vh;
    background: white;
    border-radius: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle-center img {
    max-width: 40%;
    max-height: 60%;
}