{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{titulo}}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{% static 'css/style-home.css' %}">
    {% block style %} {% endblock %}
</head>
<body onLoad="setNavbarPageActive()">

    <div class="container">

        {% include 'snippets/navbar.html' %}

        {% block content %}

        {% endblock %}

        {% include 'snippets/right_panel.html' %}

    </div>

<script src="{% static 'js/toggle_theme.js' %}"></script>
{% block script %} {% endblock %}
</body>
</html>