{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-funcionario.css' %}">

{% endblock %}

{% block content %}

    <main>
            
        <h1 style="text-align: left;">Listagem de Funcionarios</h1>
        <div class="recent-orders" style="overflow-y: auto; height: 80vh;">
            <table style="height: 88%;"> 
                <thead>
                    <tr>
                        <th>Primeiro Nome</th>
                        <th>Ultimo Nome</th>
                        <th>Email</th>
                        <th>Comissão</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% if funcionarios %}

                        {% for funcionario in funcionarios %}
                            
                            <tr>
                                <td>{{ funcionario.primeiro_nome }}</td>
                                <td>{{ funcionario.ultimo_nome }}</td>
                                <td>{{ funcionario.email }}</td>
                                <td>{{ funcionario.comissao }}</td>
                                <td class="primary"><a href="">Detalhes</a></td>
                            </tr>

                        {% endfor %}

                    {% else %}

                            <p>Nenhum funcionario cadastrado</p>

                    {% endif %}

                </tbody>
            </table>
        </div>
    </main>
    
{% endblock %}
