{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/style-clientes.css' %}">

    <main>
            
        <h1 style="text-align: left;">Listagem de Clientes</h1>
        <div class="date">
            <input type="date">
        </div>
        <div class="recent-orders" style="overflow-y: auto; height: 69vh;">
            <table> 
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% for cliente in clientes %}
                        
                        <tr>
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.telefone }}</td>
                            <td class="success">Confirmado</td>
                            <td class="primary">Detalhes</td>
                        </tr>

                    {% endfor %}

                </tbody>
            </table>
        </div>
    </main>
    
{% endblock %}
