{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-clientes.css' %}">

<style>

    h1{
        font-size: 35px; 
    }

    span{
        font-size: 20px;
    }

    .details{
        background-color: white;
        width: 60vw;
        height: 70vh;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .recent-orders{
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

{% endblock %}

{% block content %}

    <main>
            
        <h1 style="text-align: left;">Detalhe do cliente</h1>
        <div class="recent-orders" style="overflow-y: auto; height: 80vh;">
            <section>


                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if cliente %}
                            
                <div class="details">

                    <h1>{{ cliente.nome }}</h1>
                    <span>Email: {{ cliente.email }}</span>
                    <br>
                    <span>Telefone: {{ cliente.telefone }}</span>
                    <br>
                    <span>Endereço: {{ cliente.endereco }}</span>
                    <br>
                    <div>
                        <button> <a href="{% url 'front:excluir_cliente' pk=cliente.id  %}">Excluir</a> </button>
                        <button> <a href="{% url 'front:alterar_cliente' pk=cliente.id  %}">Alterar</a></button>
                    </div>
                </div>

                    {% else %}

                            <p>Nenhum cliente cadastrado com esse ID</p>

                    {% endif %}
            </section>
        </div>
    </main>
    
{% endblock %}
