{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block content %}

    <link rel="stylesheet" href="{% static 'css/style-produtos-cadastro.css' %}">

    <main>        
        <h1 style="text-align: left;">Cadastrar Produto</h1>
        <div class="register-clients" style="overflow-y: auto; height: 65%; margin-top: 1rem;">
           <h2>Nome do Produto</h2>
           <input type="text">
           <h2>Descrição</h2>
           <input type="text">
           <h2>Imagem</h2>
           <input type="text">
           <h2>Plataforma</h2>
           <input type="text">
           <h2>Faixa-Etária</h2>
           <input type="text">
           <h2>Gênero</h2>
           <input type="text">
           <h2>Categoria</h2>
           <input type="text">
        </div>
        <button id="cadastrar">Cadastrar</button>
    </main>
    <!-- ---------------- Fim da Main -------------------->
    
{% endblock %}
