{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-produtos.css' %}">

<style>

    .details h1{
        color: black;
        margin-left: 2%;
        margin-bottom: 2%;   
        font-size: 35px; 
    }

    .details span{
        color: black;
        margin-left: 5%;
        font-size: 18px;
    }

    .details{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .layout_details{
        background-color: white;
        border-radius: 20px;
        width: 65vw;
        height: 75vh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    img{
       max-height: 50%;
       max-width: 30%; 
    }

    .recent-orders{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    button{
    width: 80%;
    background-color: var(--color-primary);
    border-radius: 30px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    font-size: 100%;
    line-height: 0.5;
    margin-top: 10px;
    text-align: center;
    transition: all .2s,box-shadow .08s ease-in;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 5%;
    }
    
</style>

{% endblock %}

{% block content %}

    <main>
            
        <h1 style="text-align: left;">Detalhes do Produto</h1>
        <div class="recent-orders" style="overflow-y: auto; height: 80vh;">
            <section>


                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if produto %}

                <div class="layout_details">
                    <div class="details">

                        <h1>{{ produto.nome }}</h1>
                        <span>Descrição: {{ produto.descricao }}</span>
                        <br>
                        <span>Preço: {{ produto.preco }}</span>
                        <br>
                        <span>Plataforma: {{ produto.plataforma_nome }}</span>
                        <br>
                        <span>Faixa Etaria: {{ produto.faixa_etaria_nome }}</span>
                        <br>
                        <span>Gênero: {{ produto.genero_nome }}</span>
                        <br>
                        <span>Categoria: {{ produto.categoria_nome }}</span>
                        <br>
                        <span>Data criação: {{ produto.data_criacao }}</span>
                        <br>
                        <span>Estoque: {{ produto.estoque }}</span>
                        <br>
                        <span>Quantidade de vendas: {{ produto.qtd_vendas }}</span>
                        <br>
                    
                            <button>
                                <a href="{% url 'front:excluir_produto' pk=produto.id  %}" style="color: white; font-size: 20px">Excluir</a> 
                            </button>
    
                            <button>
                                <a href="{% url 'front:alterar_produto' pk=produto.id  %}" style="color: white; font-size: 20px">Alterar</a> 
                            </button>
                    </div>
                    <img src="{{ produto.imagem }}" alt="imagem">
                </div>

                    {% else %}

                            <p>Nenhum produto cadastrado com esse ID</p>

                    {% endif %}
            </section>
        </div>
    </main>
    
{% endblock %}
