{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-produtos.css' %}">

{% endblock %}

{% block content %}

    <main>
            
        <h1 style="text-align: left;">Listagem de Clientes</h1>
        <div class="date">
            <input type="date">
        </div>
        <div class="recent-orders" style="overflow-y: auto; height: 69vh;">
            <table> 
                <thead>
                    <tr>
                        <th>Nome do Produto</th>
                        <th>Número do Produto</th>
                        <th>Pagamento</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>
                    
                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>

                    <tr>
                        <td>God of War Ragnarok</td>
                        <td>1987423</td>
                        <td>A vista</td>
                        <td class="success">Confirmado</td>
                        <td class="primary">Detalhes</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    
{% endblock %}
