{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-produtos.css' %}">

{% endblock %}

{% block content %}

    <main>
            
        <h1 style="text-align: left;">Listagem de Produtos</h1>
        <div class="recent-orders" style="overflow-y: auto; height: 69vh;">
            <table> 
                <thead>
                    <tr>
                        <th>Nome do Produto</th>
                        <th>Valor</th>
                        <th>Plataforma</th>
                        <th>Faixa Etária</th>
                        <th>Gênero</th>
                        <th>Categoria</th>
                        <th>Estoque</th>
                        <th>Vendas</th>
                        <th></th>
                    </tr>
                </thead>
                
                {% if produtos %}

                    {% for produto in produtos %}
                                
                    <tr>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.preco }}</td>
                        <td>{{ produto.plataforma_nome }}</td>
                        <td>{{ produto.faixa_etaria_nome }}</td>
                        <td>{{ produto.genero_nome }}</td>
                        <td>{{ produto.categoria_nome }}</td>
                        <td>{{ produto.estoque }}</td>
                        <td>{{ produto.qtd_vendas }}</td>
                        <td class="primary"><a href="{% url 'front:detalhes_produto' pk=produto.id %}">Detalhes</a></td>
                    </tr>

                    {% endfor %}

                {% else %}

                        <p>Nenhum produto cadastrado</p>

                {% endif %}

            </table>
        </div>
    </main>
    
{% endblock %}
