{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-faixa-cadastro.css' %}">

{% endblock %}

{% block content %}

    <main>        
        <h1 style="text-align: left;">Cadastrar Faixa Etária</h1>
        
        {% if messages %}
            <ul class="messages" style="color: red; font-size: larger;">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>** {{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        
        <form method="post" action="{% url 'front:cadastrar_faixa' %}" class="Sign-In">

            {% csrf_token %}

            <div class="register-faixa" style="overflow-y: auto; height: 65%; margin-top: 1rem;">
            <h2>Faixa Etária</h2>
            <input id="faixa-nome" name="faixa" type="text">
            <h2>Descrição</h2>
            <input id="faixa-desc" name="descricao" type="text" maxlength="14">
            <button id="cadastrar">Cadastrar</button>
            </div>

        </form>
        
    </main>
    
{% endblock %}
