{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-faixas.css' %}">

{% endblock %}

{% block content %}

    <main>
            
        <h1 style="text-align: left;">Listagem de Faixas Etárias</h1>
        <div class="recent-orders" style="overflow-y: auto; height: 80vh;">
            <table style="max-height: 88%;"> 
                <thead>
                    <tr>
                        <th>Faixa</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    {% if faixas %}

                        {% for faixa in faixas %}
                            
                            <tr>
                                <td>{{ faixa.faixa }}</td>
                                <td class="primary"><a href="{% url 'front:detalhes_faixa' pk=faixa.id %}">Detalhes</a></td>
                            </tr>

                        {% endfor %}

                    {% else %}

                            <p>Nenhuma faixa etária cadastrada</p>

                    {% endif %}

                </tbody>
            </table>
        </div>
    </main>
    
{% endblock %}
