{% extends 'index.html' %}

{% load static %}

{% block title %}{{titulo}}{% endblock %}

{% block style %}

<link rel="stylesheet" href="{% static 'css/style-plataforma-cadastro.css' %}">

{% endblock %}

{% block content %}

    <main>        
        <h1 style="text-align: left;">Alterar plataforma</h1>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if plataforma %}
            
            <form method="post" action="{% url 'front:alterar_plataforma' pk=plataforma.id %}" class="Sign-In">

                {% csrf_token %}

                <div class="register-plataforma" style="overflow-y: auto; height: 65%; margin-top: 1rem;">
                <h2>Nome da Plataforma</h2>
                <input id="nome" name="nome" type="text" value="{{ plataforma.nome }}">
                <h2>Descrição</h2>
                <input id="descricao" name="descricao" type="text" value="{{ plataforma.descricao }}">
                </div>
                <button id="cadastrar">Alterar</button>

            </form>

        {% else %}
        
            <p>Plataforma inválida</p>

        {% endif %}
        
    </main>
    
{% endblock %}
