{% load static %}

{% block navbar %}

    <aside>
        <div class="top">
            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
                <h2>PO<span class="danger">VÃO</span></h2>
            </div>
            <div class="close" id="close-btn"><span class="material-icons-sharp">close</span></div>
        </div>

        <div class="sidebar">
            <a id="link-home" href="{% url 'front:home' %}">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Dashboard</h3>
            </a>
            <a id="link-clientes" href="{% url 'front:clientes' %}">
                <span class="material-icons-sharp">person_outline</span>
                <h3>Clientes</h3>
            </a>
            <a id="link-cadastrar-clientes" href="{% url 'front:cadastrar_clientes' %}">
                <span class="material-icons-sharp">person_add</span>
                <h3>Cadastrar Cliente</h3>
            </a>
            <a id="link-vendas" href="{% url 'front:vendas' %}">
                <span class="material-icons-sharp">receipt_long</span>
                <h3>Vendas</h3>
            </a>
            <a id="link-vendas" href="{% url 'front:realizar_venda' %}">
                <span class="material-icons-sharp">add_shopping_cart</span>
                <h3>Realizar Vendas</h3>
            </a>
            <a id="link-produtos" href="{% url 'front:produtos' %}">
                <span class="material-icons-sharp">inventory</span>
                <h3>Produtos</h3>
            </a>
            <a id="link-cadastrar-produtos" href="{% url 'front:cadastrar_produtos' %}">
                <span class="material-symbols-outlined">assignment_add</span>
                <h3>Cadastrar Produtos</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">badge</span>
                <h3>Funcionários</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">medical_information</span>
                <h3>Cadastrar Funcionários</h3>
            </a>

            <a href="#">
                <span class="material-icons-sharp">insights</span>
                <h3>Analítico</h3>
            </a>
            <a href="../../login/codes/index.html">
                <span class="material-icons-sharp">logout</span>
                <h3>Sair</h3>
            </a>
        </div>
    </aside>

    <script src="{% static 'js/page_toggler.js' %}"></script>

{% endblock %}
