{% load static %}

{% block right_panel %}

<div class="right">
    <div class="top">
        <button id="menu-btn">
            <span class = " material-icons-sharp ">menu</span >
        </button>
        <div class="theme-toggler">
            <span class= " material-icons-sharp active"> light_mode </span>
            <span class= " material-icons-sharp "> dark_mode </span>
        </div>
        <div class="profile">
            <div class="info">
                <p>Hey, <b>{{request.session.username}}</b></p>
                <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
                <img src="{% static 'img/user.jpg' %}" alt="Profile">
            </div>
        </div>
    </div>
<!-- 
    <div class="recent-updates">
        <h2>Atualizações Recentes</h2>
        <div class="updates">
            <div class="update">
                <div class="profile-photo">
                    <img src="#" alt="Profile Update">
                </div>
                <div class="message">
                    <p> <b>Charle Chaplin</b> recebeu sua compra The Last of Us II </p>
                    <small class="text-muted">2 minutos atras</small>
                </div>
            </div>

            <div class="update">
                <div class="profile-photo">
                    <img src="#" alt="Profile Update">
                </div>
                <div class="message">
                    <p> <b>Ariana Grande</b> recebeu sua compra The Last of Us II </p>
                    <small class="text-muted">6 minutos atras</small>
                </div>
            </div>

            <div class="update">
                <div class="profile-photo">
                    <img src="#" alt="Profile Update">
                </div>
                <div class="message">
                    <p> <b>Camilla</b> recebeu sua compra The Last of Us II </p>
                    <small class="text-muted">8 minutos atras</small>
                </div>
            </div>
        </div>
    </div>
    <div class="sales-analytics">
        <h2>Análise de Vendas</h2>
        <div class="item online">
            <div class="icon">
                <span class = "material-icons-sharp">shopping_cart</span >
            </div>
            <div class="right">
                <div class="info">
                    <h3>Pedidos Online</h3>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <h5 class="success">+39%</h5>
                <h3>3976</h3>
            </div>
        </div>

        <div class="item offline">
            <div class="icon">
                <span class = "material-icons-sharp">local_mall</span >
            </div>
            <div class="right">
                <div class="info">
                    <h3>Pedidos Offline</h3>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <h5 class="danger">-17%</h5>
                <h3>1643</h3>
            </div>
        </div>

        <div class="item customers">
            <div class="icon">
                <span class = "material-icons-sharp">person</span >
            </div>
            <div class="right">
                <div class="info">
                    <h3>Novos Clientes</h3>
                    <small class="text-muted">Últimas 24 horas</small>
                </div>
                <h5 class="success">+25%</h5>
                <h3>2583</h3>
            </div>
        </div>
        <a href="{% url 'front:cadastrar_produtos' %}">
            <div class="item add-product">
                <div>
                    <span class = "material-icons-sharp">add</span >
                    <h3>Adicionar Produto</h3>
                </div>
            </div>
        </a>
    </div>
</div> -->

{% endblock %}